<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Misión y Visión</h2>
        <!-- Icon Divider-->
        <div class="divider-custom ">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-circle"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row ms-auto">

            <p class="lead text-center">Ser una dirección propulsora de la innovación pública y social con foco en la educación y a partir de implementar proyectos, programas y acciones que permitan la modernización de las estructuras, aportando valor en cada interración con sus
                públicos y generando la novedad necesaria que posibilite la mejora continua. Ser reconocidos como un equipo de trabajo innovador, que propone y acciona sobre la realidad cercana llevandolos a un desempeño superior.</p>



        </div>
        <!-- About Section Button-->
        <!-- <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/theme/freelancer/">
                <i class="fas fa-download me-2"></i> Free Download!
            </a>
        </div> -->
    </div>
</section>