<!-- <p-image src="../../../assets/organi.png" alt="Image" width="500">
</p-image> -->

<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="../../../assets/organi.png" alt="organi.png" />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">DiSI</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-circle"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Direccion de Soluciones Inteligentes</p>
    </div>
</header>