<section class="page-section portfolio bg-secondary " id="propuesta">

    <div class="container text-white">

        <h2 class="page-section-heading  text-center text-uppercase text-white text-secondary mb-0">Propuesta de valor</h2>

        <div class="divider-custom divider-light">
            <div class="divider-custom-line "></div>
            <div class="divider-custom-icon"><i class="fas fa-circle"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row ms-auto">

            <p class="lead text-center">La DISI (Dirección de soluciones inteligentes) es una arteria troncal del Gobierno que propone a partir de la tecnología, los procesos y las personas posibilitar la modernización, mejora e innovación de los sistemas y operaciones actuales
                que lleva a cabo el Gobierno, facilitando soluciones inteligentes a los problemas, procesos críticos y objetivos que se presenten. Todo ello en pos de acompañar a las políticas públicas optimizando sus resultados y acercando a todos a
                la transformación cultural y digital que hoy en día se necesita.</p>
        </div>
        <!-- About Section Button-->
        <!-- <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/theme/freelancer/">
                    <i class="fas fa-download me-2"></i> Free Download!
                </a>
            </div> -->
    </div>


</section>